body {
  background-image: url(file:///C:/Users/User/%E3%82%B2%E3%83%BC%E3%83%A0/background/210504-%E3%83%AF%E3%83%BC%E3%83%97%E4%B8%80%E7%82%B9%E9%9B%86%E4%B8%AD%E8%83%8C%E6%99%AF3D%E3%83%96%E3%83%AD%E3%83%83%E3%82%AF.png);
  background-size: 1280px;
  background-repeat: no-repeat;
}

button {
  font-size: 60px;
  color: yellow;
  width: 150px;
  height: 100px;
  border: 2px solid rgba(0, 0, 0, 0);
  background:rgba(0,0,0,0);
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  top: 52%;
  left: 46%;
}

div {
  font-size: 15px;
  color: yellow;
  width: 150px;
  height: 100px;
  border: 2px solid rgba(0, 0, 0, 0);
  background:rgba(0,0,0,0);
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 46%;
}